<hr>

<ul>
  <li>
    <%= link_to "Download Categories", export_path(target: 'categories') %>
  </li>
  <li>
    <%= link_to "Download Category Items", export_path(target: 'category_items') %>
  </li>
</ul>